---
import type { CollectionEntry } from 'astro:content'
import PageLayout from '@/layouts/PageLayout.astro'
import Container from '@/components/Container.astro'
import InlineLink from '@/components/InlineLink.astro'
import ArticleListItem from '@/components/ArticleListItem.astro'
import Pager from '@/components/Pager.astro'
import { BLOG } from '@/consts'
import { getCollection } from 'astro:content'

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime(),
)

const postsByYear = posts.reduce<Record<number, CollectionEntry<'blog'>[]>>((acc, post) => {
  const year = post.data.pubDate.getFullYear()
  acc[year] ??= []
  acc[year].push(post)
  return acc
}, {})

const years = Object.keys(postsByYear)
  .map(Number)
  .sort((a, b) => b - a)
---

<PageLayout title={BLOG.TITLE} description={BLOG.DESCRIPTION}>
  <Container>
    <div class='space-y-10'>
      <section class='animate space-y-4'>
        <h1>Blog</h1>
        <p>
          이곳에서는 개발과 관련해 제가 겪은 경험과 배운 점, 그리고 유용한 개발 도구와 흥미로운 기술
          등등을 기록하고 있습니다.
        </p>
        <p>
          찾으시는 게시물이 있으시다면 <InlineLink url='/blog'>여기서</InlineLink> 검색하실 수 있습니다.
        </p>
      </section>

      {
        years.map((year) => (
          <section class='animate space-y-4'>
            <h2>{year}</h2>
            <ul>
              {postsByYear[year].map((post) => (
                <ArticleListItem
                  url={`/blog/${post.id}/`}
                  title={post.data.title}
                  description={post.data.description}
                />
              ))}
            </ul>
          </section>
        ))
      }

      <Pager currentPage={7} totalPages={10} getHref={(a) => `${a}`} />
    </div>
  </Container>
</PageLayout>
