---
import PageLayout from '@/layouts/PageLayout.astro'
import Container from '@/components/Container.astro'
import ArticleListItem from '@/components/ArticleListItem.astro'
import { getCollection } from 'astro:content'
import { HOME } from '@/consts'
import { buttonVariants } from '@/components/ui/button'
import { SITE } from '@/consts'

const blog = (await getCollection('blog'))
  .sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE)
---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <div class='space-y-24'>
      <section class='space-y-4'>
        <h1 class='animate'>개발자 임덕윤 입니다.</h1>
        <p class='animate'>
          안녕하세요, 개발자 임덕윤(Duky8n)입니다. 프론트엔드 개발을 중심으로 활동하며, 웹 기술을
          깊이 사랑합니다. 웹 환경에서 사용자 경험과 성능을 동시에 만족시키기 위해 끊임없이
          고민하고, 기술에 대한 깊은 이해를 추구합니다. 어제보다 더 나은 자신을 위해 꾸준히 나아가는
          중입니다.
        </p>
        <p class='animate'>
          이곳은 제 개인 개발 블로그로, 제가 공부한 내용과 진행 중인 프로젝트를 여러분과 함께 나누는
          공간입니다. 여러분의 관심에 감사드리며, 유익한 시간이 되시기 바랍니다.
        </p>
      </section>
      <section class='animate space-y-4'>
        <div class='mb-4 flex flex-row items-center justify-between'>
          <h2 class='m-0'>Projects</h2>
          <a
            href='/projects'
            class={buttonVariants({ variant: 'ghost', className: 'translate-x-4' })}
          >
            더보기
          </a>
        </div>
        <ul>
          <ArticleListItem
            title='개인 개발 블로그'
            description='markhorn.dev 스타일을 참고해서 만들었습니다.'
            url='https://github.com/DUKY8N/dev-blog'
            direction='up-right'
          />
        </ul>
      </section>
      <section class='animate space-y-4'>
        <div class='mb-4 flex flex-row items-center justify-between'>
          <h2 class='m-0'>Blog posts</h2>
          <a href='/blog' class={buttonVariants({ variant: 'ghost', className: 'translate-x-4' })}>
            더보기
          </a>
        </div>
        <ul>
          {
            blog.map((post) => (
              <ArticleListItem
                url={`/blog/${post.id}/`}
                title={post.data.title}
                description={post.data.description}
              />
            ))
          }
        </ul>
      </section>
    </div>
  </Container>
</PageLayout>
