---
import PageLayout from '@/layouts/PageLayout.astro'
import Container from '@/components/Container.astro'
import { PROJECTS } from '@/consts'
import ArticleListItem from '@/components/ArticleListItem.astro'
import projects from '@/content/projects'
---

<PageLayout title={PROJECTS.TITLE} description={PROJECTS.DESCRIPTION}>
  <Container>
    <div class='space-y-6'>
      <div class='space-y-2'>
        <h1 class='animate'>Projects</h1>
        <p class='animate'>이곳에는 제가 진행하거나 참여한 프로젝트들을 모아 두었습니다.</p>
      </div>
      <ul>
        {
          projects.map((project) => (
            <ArticleListItem
              title={project.title}
              description={project.description}
              url={project.url}
              direction='up-right'
              className='animate'
            />
          ))
        }
      </ul>
    </div>
  </Container>
</PageLayout>
