---
import PageLayout from './PageLayout.astro';

const { title, description, date, tags = [] } = Astro.props;
const formattedDate = date.toISOString().slice(0, 10);
---

<PageLayout title={title} description={description}>
	<article>
		<h1>{title}</h1>
		<div class="post-meta">
			<time class="date">{formattedDate}</time>
			{tags.length > 0 && (
				<ul class="tags">
					{tags.map((tag) => <li>{tag}</li>)}
				</ul>
			)}
		</div>
		<slot />
	</article>
</PageLayout>

<style>
	.post-meta {
		display: flex;
		gap: var(--space-2);
		align-items: baseline;
	}

	.tags {
		display: flex;
		gap: var(--space-2);
		margin-block: 0;
		padding-left: 0;
		list-style: none;
	}

	.tags li {
		margin-block: 0;
		padding-left: 0;
		color: var(--color-muted);
		font-size: var(--font-size-small);
	}

	.tags li::before {
		content: "#";
	}

</style>
